body {
    padding: 0;
    margin: 0;
    font-family: var(--font-main);
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

img {
    width: 30%;
    height: auto;
    transition: transform 1s;
    position: relative;
    margin-bottom: 10%;
}

.main-content::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.33;
    z-index: -1;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    font-size: 1em;
    background-image: url('Beard.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: margin-left 0.3s;
}